<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="/">{{ site.title }}</a>
  </div>
</aside>
<ul id="user_meta">
  <li class="blog_name">  
    <h1 id="blog_name">
      <a href="/">{{ site.title }}</a>
    </h1>
  </li>
  <li class="blog_owner">  
    <h2 id="blog_owner">
      <a href="/">Joe Wilson</a>
    </h2>
  </li>
  <li class="tagline">
    <h2 id="tagline">{{ site.tagline }}</h2>
  </li>
  <li class="link contact">
    <a href="/contact.html">contact</a>
  </li>
</ul>
<aside id="svbtle_linkback">
  <a href="https://github.com/joewils/joewils.github.com">
    <span class="logo_square"><span class="logo_circle">&nbsp;</span></span>&nbsp;<span class="svbtle">github</span>
  </a>
</aside>