---
layout: default
---
    <header>
        <h1>{{ site.title }}</h1>
        <h3>{{ page.date | date_to_string }}</h3>
    </header>

    <article>
        <h1 class="title">
            <a href="{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title }}">
                {{ page.title }}
            </a>
        </h1>
        {{ content }}
    </article>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>