---
layout: default
---
<header id="begin">
    <time datetime="{{ page.date }}" id="top_time">{{ page.date | date_to_string }}</time>
</header>
            
<article id="5" class="post">
    <h2 class="entry-title">
        <a href="{{ page.url }}" rel="bookmark" title="Permalink to {{ post.title }}" class="title">
            {{ page.title }}
        </a>
    </h2>
	<div class="entry-content">
        {{ content }}
    </div>
</article>

<aside id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</aside>