<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>{% if page.title %}{{ page.title }}{% endif %}{% unless page.title contains site.name %} – {{ site.name }}{% endunless %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="/tabler-assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '/'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/tabler-assets/css/dashboard.css" rel="stylesheet" />
    <script src="/tabler-assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/tabler-assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/tabler-assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="/tabler-assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="/tabler-assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/tabler-assets/plugins/input-mask/plugin.js"></script>

    <!-- JoeCode CSS -->
    <link href="/style.css" rel="stylesheet" />
    {% include analytics.html %}
  </head>
  <body>
    <div class="page">
      <div class="page-main">

        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="{{ site.baseurl }}/">
                {{ site.name }}
              </a>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div><!-- header py-4 -->

        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="col-lg order-lg-first">
              <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                  <a href="/" class="nav-link"><i class="fe fe-home"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a href="/noise/" class="nav-link"><i class="fe fe-grid"></i> Noise</a>
                </li>
                <li class="nav-item">
                  <a href="/contact/" class="nav-link"><i class="fe fe-mail"></i> Contact</a>
                </li>
                <li class="nav-item">
                  <a href="/resume/" class="nav-link"><i class="fe fe-file-text"></i> Resume</a>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- header collapse ... -->

        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                {{page.title}}
              </h1>
            </div>
            {{ content }}
          </div><!-- container -->
        </div><!-- my-3 my-md-5 -->

      </div><!-- page-main -->

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <ul class="list-unstyled mb-0">
                <li><a href="http://www.whiskeytangofoxtrotjoe.com" class="text-primary"><i class="fe fe-zap"></i> Whiskey Tango Foxtrot</a> (WTFJoe)</li>
                <li><a href="https://joewod.com/" class="text-primary"><i class="fe fe-smartphone"></i> Yet Another Workout Tracking App</a> (JoeWOD)</li>
                <li><a href="http://foxtrotindiasierrahotel.com/" class="text-primary"><i class="fe fe-map"></i> Foxtrot India Sierra Hotel</a> (FISH)</li>
                <li><a href="http://www.mtexodus.com/" class="text-primary"><i class="fe fe-shuffle"></i> MovableType&trade; to WordPress&trade;</a> (MT Exodus)</li>
                <li><a href="http://pdf.joecode.com/" class="text-primary"><i class="fe fe-printer"></i> HTML to PDF</a> (Oranda)</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <p><strong>/joh&#8217; kohd&#8217;/ /n./</strong> 1. Code that is overly tense and unmaintainable. Perl may be a handy program, but if you look at the source, it's complete joe code. 2. Badly written, possibly buggy code. <strong>3. Code with distinct characteristics traceable to its author.</strong></p>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
            Copyright © 2018 <a href="http://joecode.com">JoeCode</a>. All rights reserved.
          </div>
        </div>
      </footer>
      
    </div><!-- .page -->
  </body>
</html>